$white: hsl(0, 0%, 100%);
$soft-white: hsla(0, 0%, 100%, 0.8);
$soft-magenta: hsl(300, 69%, 71%);
$violet: hsl(257, 40%, 49%);
$button-box-shadow: 0 0.4em 0.5px 0 rgba(0, 0, 0, 0.2);
$button-box-shadow-inset: 0.3em 0.3em 0.5px 0 rgba(0, 0, 0, 0.2) inset;
